{% extends 'main/main.html'%}
{% load static %}
{% block title %}
Про наш музей
{% endblock %}

{% block content %}
<div class="about">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    С чего всё начиналось
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    История нашего музея началась в 2018 году, когда был сделан социальный проект старшеклассниками.
                    Реализовывая этот проект при поддержке учителей, администрации школы и предприятий Брянска, гимназия
                    получила тот музей, который есть. Так как он не в закрытом помещении, то музей можно называть
                    «Комплексный краеведческий зал». Он называется комплексным, потому что экспонаты и экспозиции
                    посвящены разным темам.
                </div>

            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Старый Брянск
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Первая экспозиция, которая есть в краеведческом зале — это стенд «Старый Брянск», где расположены
                    репродукции старого города, в том числе фотография Семёна Семёновича Могилевцева, который являлся
                    спонсором и организатором нашей школы. На стенде «Старый Брянск» есть первая фотография нашей школы,
                    которая в том момент находилась на улице Калинина.
                    В нашем музее есть витрина, в которой есть старые предметы учёбы для школьников. Здесь находится
                    очень интересный экспонат — журнал Огонёк», в котором освящается празднование трёхсотлетия дома
                    Романовых. Ещё в журнале есть интересная статья о похоронах певицы Вяльцевой, которая являлась нашим
                    земляком. В этой витрине также есть небольшие экспонаты от старого музея, который был в школе №7.
                    Это был музей советско-польской дружбы. Со временем он был полностью демонтирован и все материалы
                    были переданы в «Брянский краеведческий музей». В нашем зале осталось несколько альбомов, которые
                    рассказывают об музее школы №7
                </div>

            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Учителя нашей школы
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    В экспозиции представлены рассказы учителей, внёсших огромный вклад в развитие нашей школы.
                    Ещё сохранился достаточно старый экспонат — указка. Она была большой и расписной.
                    К тому же в нашем музее есть экспонат «подсвечник». Он был очень большой, напольный, т.е. его можно
                    было поставить
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                    Выпускники гимназии
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Следующая экспозиция посвящена выпускникам нашей школы, которые достигли значительных успехов в
                    карьере. В этой экспозиции находятся фотографии Сергея Василёва Героя России, космонавта Андрея
                    Николаевича Бабкина и Михаила Новикова, который погиб при исполнении воинского долга.(Будучи
                    школьником Андрей отправился вместе со своими друзьями в «Артек», где попал в одну смену со
                    знаменитой американской школьницей Саманта Смит, которую в то время называли посланцем мира. Она
                    получила известность благодаря письму, которое девочка отправила советскому руководителю Юрию
                    Андропову с просьбой не начинать войну. Юрий решил пригласить Саманту в свою страну. Именно так
                    американская школьница попала в лагерь «Артек». Со временем газета «Пионерская правда» выпустила
                    статью о простом брянском школьнике, который свободно общался с Самантой Смит на английском языке.)
                    В нашем музее есть витрины, которые рассказывают нам об советских организациях в этой школе. При
                    этом, они содержат атрибуты этих организаций, различные технические средства обучения, которые были
                    раньше.
                    В нашей гимназии имеется музейный уголок, посвященный Сергею Владимировичу Василёву. Здесь мы можем
                    увидеть его бюст, который был поставлен после того, как Сергею Владимировичу было присвоено звание
                    Героя России. Возле самого бюста есть материалы, рассказывающие о нём, его семье. В витрине
                    находятся вещи. Они служат как воспоминание о нём.
                </div>

            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    История нашей родины
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Другая экспозиция связана непосредственно с историей нашей Родины. Здесь находится старинная одежда,
                    в том числе и старая школьная форма. В этой экспозиции есть мценские кружева, которые плелись при
                    княгине Анны Дмитриевны Тенишевой, которая была одной из меценаток в Брянске. Помимо этого, есть
                    разные предметы утвари, куклы, самовары
                    В этом музейном уголке ещё есть вещи времён Великой Отечественной Войны, которые были найдены во
                    время различных наших походок и экспедиций.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Поэтический уголок
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Следующая экспозиция посвящена поэтам Илье Андреевичу Швецу и Валентину Давыдовичу Динабургскому.
                    Бывший директор нашей школы была женой Швеца. Она передавала вещи Ильи Андреевича, которые можно
                    увидеть в витринах. В этой экспозиции можно увидеть рисунки Динабургского, которые он
                    собственноручно делал.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Планы на будущее
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Создание экспозиции, посвященной Великой Отечественной Войной.
                    Другая экспозиция будет посвящена почётным гражданам Брянска
                    Экспозиция «Православные святыни»

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    Активисты
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                </div>
            </div>
        </div>
        <div class="list-group w-auto">
            <a href="https://t.me/gimn7_br" class="list-group-item list-group-item-action d-flex gap-3 py-3"
               aria-current="true">
                <img src="{% static 'main/pictures/icons8-телеграмма-app-24.png' %}" alt="tg" width="24" height="24"
                     class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">Наш телеграмм канал</h6>
                    </div>
                </div>
            </a>
            <a href="https://vk.com/gymnasium7bryansk" class="list-group-item list-group-item-action d-flex gap-3 py-3"
               aria-current="true">
                <img src="{% static 'main/pictures/icons8-vk-в-круге-30.png' %}" alt="wk" width="24" height="24"
                     class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <h6 class="mb-0">Мы в Вконтакте</h6>
                    </div>
                </div>
            </a>

        </div>
        <div class="about">
            <button type="button" class="btn btn-primary"><a href="panoram_view" style="color:white">Панорама музея Гимназии 7</a></button>
        </div>

    </div>
</div>


{% endblock %}

