{% extends 'main/main.html'%}
{% load static %}
{% block title %}
Галерея
{% endblock %}

{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto" style="font-size: 25px">
            <h1 class="fw-light" style="color:#1A6499" style="font-size: 25px">Галерея</h1>
            <p style="color:#1A6499">На данной странице вы можете посмотреть фотографии нашего музея</p>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="gallery-container_1">
        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_1_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption class="text_under_photo">Школьные принадлежности 70-х годов</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_2_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Самовар начала 20 века </figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_3_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Выпускники</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_4_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Радиоприемник</figcaption>
            </figure>
        </div>
    </div>

     <div class="gallery-container_2">
        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_5_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption class="text_under_photo">Предметы для пионерской деятельности</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_6_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Учебная электроника</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_7_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Чайные наборы</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_8_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption> Известные преподаватели</figcaption>
            </figure>
        </div>
    </div>

    <div class="gallery-container_3">
        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_9_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption class="text_under_photo">Известные преподаватели</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_10_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Предметы Советско-Польской дружбы</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_11_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Посуда начала 20 века</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_12_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Бюст С.В.Василёва</figcaption>
            </figure>
        </div>
    </div>

    <div class="gallery-container_4">
        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_13_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption class="text_under_photo">Вещи десантников 6 роты</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_14_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Прялка середины 19 века</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_15_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Стенд им. С.В.Василёва</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_16_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Советские игрушки</figcaption>
            </figure>
        </div>
    </div>

    <div class="gallery-container_5">
        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_17_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption class="text_under_photo">Игрушки 20 века</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_18_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Одежда 19 века</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                 <img src="{% static 'main/pictures/musuem_photos/photo_19_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Находки учеников при раскопках</figcaption>
            </figure>
        </div>

        <div class="gallery-item">
            <figure>
                <img src="{% static 'main/pictures/musuem_photos/photo_20_2023-04-04_15-50-17.jpg' %}" alt="alt">
                <figcaption>Уголок С.В.Василёва</figcaption>
            </figure>
        </div>
    </div>
</section>


{% endblock %}