{% extends 'main/main.html'%}
{% load static %}
{% block title %}
Домашняя страница
{% endblock %}

{% block content %}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'main/pictures/Совушка.jpeg' %}" alt="" width='350' height="350">
    <h1 class="display-5 fw-bold" style="color:#1A6499">Добро пожаловать</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="color:#1A6499">Этот сайт посвещён музейному комплексу гимназии №7 города брянска. Что бы узнать больше переходи в раздел 'Про нас'</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="/exhibition" class="nav-link px-2 text-black">Галерея</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="/about" class="nav-link px-2 text-black">Про нас</a></button>
      </div>
    </div>
  </div>
{% endblock %}
