{% extends 'main/main.html'%}
{% load static %}
{% block title %}
Галерея
{% endblock %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto" style="font-size: 25px">
                <h1 class="fw-light" style="color:#1A6499" style="font-size: 25px">Галерея</h1>
                <p style="color:#1A6499">На данной странице вы можете посмотреть фотографии нашего музея</p>
            </div>
        </div>
    </section>

    <section class="gallery">

        <div class="gallery1">
            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/IMG_8270.JPG' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/IMG_8270.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/IMG_8271.JPG' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/IMG_8271.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/IMG_8272.JPG' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/IMG_8272.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/IMG_8273.JPG' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/IMG_8273.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/IMG_8274.JPG' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/IMG_8274.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/IMG_8277.JPG' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/IMG_8277.JPG' %}" alt="alt">
                </a>
            </div>
        </div>

        <div class="gallery2">
            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/51502966532_71411b3bda_o.jpg' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/51502966532_71411b3bda_o.jpg' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/51507820676_05baf10f78_o.jpg' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/51507820676_05baf10f78_o.jpg' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/51511174142_d559c1bfaf_o.jpg' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/51511174142_d559c1bfaf_o.jpg' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/51512225643_abb7c173c7_o.jpg' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/51512225643_abb7c173c7_o.jpg' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/51512256068_137b0749eb_o.jpg' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/51512256068_137b0749eb_o.jpg' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/51512675299_d624d6147d_o.jpg' %}" class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/51512675299_d624d6147d_o.jpg' %}" alt="alt">
                </a>

            </div>
        </div>

        <div class="gallery3">

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC00064.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC00064.JPG' %}" alt="alt">
                </a>
            </div>


            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC00066.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC00066.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC08682.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC08682.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC08688.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC08688.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC08703.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC08703.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC08707.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC08707.JPG' %}" alt="alt">
                </a>
            </div>
        </div>

        <div class="gallery4">
            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC00767.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC00767.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC00770.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC00770.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC00774.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC00774.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC00781.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC00781.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC00787.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC00787.JPG' %}" alt="alt">
                </a>
            </div>

            <div class="gallery-list">
                <a href="{% static 'main/pictures/musuem_photos/DSC08746.JPG' %}"
                   class="gallery-item">
                    <div class="gallery-item-hover">Посмотреть</div>
                    <img src="{% static 'main/pictures/musuem_photos/DSC08746.JPG' %}" alt="alt">
                </a>
            </div>
        </div>


    </section>
{% endblock %}