{% extends 'main/main.html'%}

{% block title %}
Добавление статьи
{% endblock %}

{% block content %}
    <div class="news_input">
        <form method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.data }}<br>
                {{ form.short_text }}<br>
                {{ form.full_text }}<br>
               <button class="btn btn-primary" type="submit"> Добавить статью</button>
        </form>
        <span>{{ error }}</span>
    </div>
{% endblock %}